* {
  margin: 0;
}
a {
  all: unset;
  cursor: pointer;
}

header {
  position: sticky;
}

nav a {
  transition: transform 250ms;
}

nav a:hover {
  transform: translateY(-5px);
}
html,
body {
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 0.5rem;
}

nav {
  display: flex;
  gap: 1rem;
}
